<form id="form__payment_detail">
    {{ form.payment_id }}
    {{ form.is_exclusion }}
    {{ form.action }}
    {{ form.weekly_frequency }}
    {{ form.monthly_dom }}
    {{ form.monthly_frequency }}
    {{ form.monthly_wom }}
    {{ form.monthly_dow }}
    {{ form.until_type }}
    <table id="table__payment_detail__payment_date">
        <tr>
            <td><label for="{{ form.next_date.id_for_label }}">Next Payment</label></td>
            <td class="td__series_choice">
                <input type="radio" id="rdo__series_choice_this" name="rdo__series_choice" value="this" checked />
                <label for="rdo__series_choice_this">Update this payment only</label>
            </td>
        </tr>
        <tr>
            <td>{{ form.next_date }}</td>
            <td class="td__series_choice">
                <input type="radio" id="rdo__series_choice_series" name="rdo__series_choice" value="series" />
                <label for="rdo__series_choice_series">Update the series</label>
            </td>
        </tr>
        <tr class="tr__payment_details_frequency tr__payment_detail_field_labels" style="display: none">
            <td><label for="{{ form.schedule_frequency.id_for_label }}">Payment Frequency</label></td>
            <td class="td__spacer"></td>
        </tr>
        <tr class="tr__payment_details_frequency tr__payment_detail_fields" style="display: none">
            <td colspan="2">{{ form.schedule_frequency }}</td>
        </tr>
        <tr id="tr__payment_schedule__weekly" class="tr__payment_frequency_details" style="display: none">
            <td colspan="2">
                Every
                <span id="span__weekly_dow_day">
                    {{ form.weekly_dow_mon }}
                    <label for="{{ form.weekly_dow_mon.id_for_label }}">Monday</label>
                    {{ form.weekly_dow_tue }}
                    <label for="{{ form.weekly_dow_tue.id_for_label }}">Tuesday</label>
                    {{ form.weekly_dow_wed }}
                    <label for="{{ form.weekly_dow_wed.id_for_label }}">Wednesday</label>
                    {{ form.weekly_dow_thu }}
                    <label for="{{ form.weekly_dow_thu.id_for_label }}">Thursday</label>
                    {{ form.weekly_dow_fri }}
                    <label for="{{ form.weekly_dow_fri.id_for_label }}">Friday</label>
                    {{ form.weekly_dow_sat }}
                    <label for="{{ form.weekly_dow_sat.id_for_label }}">Saturday</label>
                    {{ form.weekly_dow_sun }}
                    <label for="{{ form.weekly_dow_sun.id_for_label }}">Sunday</label>
                </span>
                of every <input id="input__weekly_dow_frequency" value="1"/> <label id="label__weekly_dow_frequency">week</label><br />
            </td>
        </tr>
        <tr id="tr__payment_schedule__monthly" class="tr__payment_frequency_details" style="display: none">
            <td colspan="2" class="td__monthly_style">
                <input type="radio" name="radio__monthly_style" id="radio__monthly_style_dom" value="day_of_month" />
                <label for="radio__monthly_style_dom">
                    <span id="radio__monthly_style_dom_label">
                    The <select id="select__monthly_dom_day"></select>
                    <select id="select__monthly_dom_last"><option></option><option>last</option></select>
                    day of every <input id="input__monthly_dom_frequency" value="1"/> <label id="label__monthly_dom_frequency">month</label>
                    </span>
                </label>
                <br/>
                <input type="radio" name="radio__monthly_style"  id="radio__monthly_style_dow" value="day_of_week" checked="checked" />
                <label for="radio__monthly_style_dow">
                    <span id="radio__monthly_style_dow_label">
                    The <select id="select__monthly_wom_nth" class="select__payment_schedule__monthly"></select>
                    <select id="select__monthly_wom_last" class="select__payment_schedule__last"><option></option><option>last</option></select>
                    <select id="select__monthly_wom_day" class="select__payment_schedule__monthly">
                        <option value="0">Monday</option>
                        <option value="1">Tuesday</option>
                        <option value="2">Wednesday</option>
                        <option value="3">Thursday</option>
                        <option value="4">Friday</option>
                        <option value="5">Saturday</option>
                        <option value="6">Sunday</option>
                    </select>
                    of every <input id="input__monthly_wom_frequency" value="1"/> <label id="label__monthly_wom_frequency">month</label>
                    </span>
                </label>
            </td>
        </tr>
        <tr id="tr__payment_schedule__annual" class="tr__payment_frequency_details" style="display: none">
            <td colspan="2">
                    The {{ form.annual_dom }}
                    of {{ form.annual_moy }}
                    of every {{ form.annual_frequency }} <label id="label__annual_frequency">year</label><br />
            </td>
        </tr>
        <tr id="tr__payment_schedule__linked" style="display: none">
            <td>
                <label for="{{ form.linked_to.id_for_label }}">Link to payment</label><br />
                {{ form.linked_to }}
            </td>
            <td>
                <label for="{{ form.offset.id_for_label }}">Offset by</label><br />
                {{ form.offset  }} {{ form.offset_type }}
            </td>
        </tr>
        <tr id="tr__payment_schedule__until" style="display: none">
            <td colspan="2">
                <input type="radio" name="radio__until" id="radio__until_forever" value="until_forever" checked="checked" />
                <label id="label__until_forever" for="radio__until_forever"><span id="span__until_forever">Forever</span></label>
                <input type="radio" name="radio__until"  id="radio__until_occurrences" value="until_occurrences" />
                <label for="radio__until_occurrences">{{ form.occurrences }} times</label>
                <input type="radio" name="radio__until"  id="radio__until_end_date" value="until_end_date" />
                <label for="radio__until_end_date">Until {{ form.end_date }}</label>
            </td>
        </tr>
        <tr class="tr__payment_detail_field_labels">
            <td class="td__spacer"></td>
            <td style="text-align: right">
                <button id="button__update_payment_date_revert_to_schedule">Revert</button>
                <button id="button__update_payment_date_save_changes">Update</button>
                <button id="button__update_payment_date_cancel" class="payment_edit_cancel">Cancel</button>
            </td>
        </tr>
    </table>
    <div id="div__update_payment_result" class="result-message-box ui-state-highlight ui-corner-all" style="display: none">
        <span class="ui-icon result-icon"></span>
        <span class="result-message-text"></span>
    </div>
</form>

<script language="javascript">
    initUpdateSchedule();
    initUpdatePaymentDate();
</script>