/****** General ******/

BODY {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.row {
  display: table;
  vertical-align: middle;
}

.col {
    display: table-cell;
    padding: 1em;
    vertical-align: top;
}

/****** Navigation ******/
#banner {
    width: 100%;
    font: 2em 'Century Gothic';
    padding: 1em;
}

#menubar {
    width: 100%;
    margin-top: 0.1em;
    height: 3em;
}

#dmenubar div {
    position: relative;
    float: left;
}

#menubar a:link, #menubar a:visited {
    background-color: #FFC683;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/****** Dialogs ******/

.dialog-no-close .ui-dialog-titlebar-close {
  display: none;
}

.dialog-no-titlebar .ui-dialog-titlebar {
    display: none;
}

.modal_bg {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/****** Common components ******/

#div__user_message {
    -webkit-transition: height 2s; /* Safari */
    transition: height 10s;
}

.money {
    text-align: right;
    width: 80px;
}

.ui-spinner-input {
    width: 30px;
}

.error_message
{
    display: none;
    padding: 1em;
}

.error_message_field
{
    /*display: none;*/
    padding: 0.1em 0.2em;
}

.error {
    display: block;
}

.valid.error_message_field {
    display: none;
}

.result-message-box {
    margin-top: 10px;
    padding: 10px;
}

.result-message-box .result-icon{
    float: left;
    margin-right: .3em;
    margin-top: 0.1em;
}

.result-message-box-success {
    background: #c6efce !important;
    color: #006100 !important;
    border-color: #006100 !important;
}

.result-message-box-failure {
    background: #ffc7ce !important;
    color: #9c0006 !important;
    border-color: #9c0006 !important;
}

.overlay {
    display: none;
    position: absolute;
    padding: 1.2em
}

.nowrap {
/*     overflow:hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
}

