{% load static %}
{% load babel %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Weekly Budget{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="{% static 'colours.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'budget_main.css' %}" />
    <link rel="stylesheet" href="{% static 'jquery-ui-1.11.4.custom/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/u/ju/dt-1.10.12/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'chosen_v1.5.1/chosen.min.css' %}" />
</head>

<body>
    <script type='text/javascript' src="{% static 'jquery-1.11.3.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'jquery-ui-1.11.4.custom/jquery-ui.js' %}"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type='text/javascript' src="{% static 'jquery.cookie.js' %}"></script>
    <script type='text/javascript' src="{% static 'autoNumeric-min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/u/ju/dt-1.10.12/datatables.min.js"></script>
    <script type="text/javascript" src="{% static 'moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.11/sorting/datetime-moment.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script type='text/javascript' src="{% static 'chosen_v1.5.1/chosen.jquery.min.js' %}"></script>
    <div id="banner" class="color-secondary-1-1 background-color-secondary-1-0">
        Weekly Home Budget
    </div>
    <div id="menubar" class="row">
        {% block menubar %}
        <span><a href="/">Home</a></span>
        <span><a href="/blog/">Blog</a></span>
        {% endblock %}
    </div>

    <div id="content row">
        {% block content %}{% endblock %}
    </div>

</body>
</html>