/****** Page Layout ******/

#content {
    position: relative;
    float: left;
}

.bank_account_view {
    position: relative;
    float: left;
}

.calendar_pane {
    vertical-align: top;
    padding: 1em;
}

.bank_accounts_pane {
    vertical-align: top;
    padding: 1em;
}

.payments_pane {
    vertical-align: top;
    padding: 1em;
}

.sdivider {
    background: #E7A557;
    height: 100%;
    width: 100%;
    margin: 80px 0 0px -20px;
    padding: 20px 40px;
}

.col-divider {
    vertical-align: middle;
    cursor: pointer;
}

.img__divider {
    cursor: pointer;
}

.button__divider{
    /*font-size: 2em;*/
}

.divider-text {
    display: none;
    /*-ms-transform: rotate(90deg); */ /* IE 9 */
    /*-webkit-transform: rotate(90deg);*/ /* Chrome, Safari, Opera */
    /*transform: rotate(90deg);*/
    vertical-align: middle;
    margin: 80px 0 0px -20px;
    padding: 20px 40px;
    font-size: 2em;
}

.subform {
    padding-top: 10px
}

.recently-updated {
    border: solid blue 6px;
}

/****** Payment Styles ******/

#button__add_payment {
    margin-top: 10px;
}

.button__delete_payment .ui-button-text {
    height: 1.2em !important;
    padding-right: 0.1em !important;
}

/****** Update Payment ******/

input, select {
    padding: 4px;
    width: 200px;
}

#form__payment_detail input, #form__payment_detail select {
    margin-right: 20px;
    padding: 4px;
}

#button__update_payment_save_changes, #button__update_payment_date_save_changes {
    margin-right: 0px !important;
}

#table__payment_detail__payment_date {
    width: 100%;
}

#table__payment_detail__payment_date td {

}

.td__series_choice label {
    width: 200px;
    text-align: left;
}

.td__monthly_style label     {
    width: 600px;
    text-align: left;
    margin-top: 10px;
}

.td__series_choice {
    text-align: right;
}

#table__payment_detail, #table__manage_categories {
    width: 100%;
}

#table__payment_detail td, .tr__calendar_inline_edit_row td,
#table__manage_categories td, .tr__calendar_inline_manage_categories td {
    background-color: #ddd;
    padding: 0px 5px !important;
}

.tr__payment_detail_labels td {
    width: 25%;
}

.tr__payment_detail_field_labels {
    height: 2.5em;
    vertical-align: bottom;
}

#span__weekly_dow_day label {
   margin-top: 10px;
   margin-right: 5px;
}

.tr__payment_frequency_details td {
    padding-top: 20px
}

#td__payment_schedule__annual {
    height: 3.0em;
    vertical-align: bottom;
}

#tr__payment_schedule__linked td {
    height: 2em;
    padding-top: 10px !important;
}

#tr__payment_schedule__until td {
    padding-top: 21px;
}

#tr__payment_schedule__until label {
    height: 2em;
    margin-top: 10px;
}

#label__until_forever span {
    margin-top: 5px;
}

#span__until_forever {
    padding-top: 17px !important;
}

#calendar__overlay {
    overflow: visible;
}

/****** Calendar View ******/

#div__calendar {
    overflow-y: scroll;
    height: 500px;
}

#table__calendar thead, #table__calendar tbody {
    /* display: block; */
}

#table__calendar tbody {
    height: 500px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
#table__calendar input {
    width: 100px;
}

.dataTable {
    width: 100%;
}

.dataTable td.highlight {
    background-color: whitesmoke !important;
}

.a-paid-received {
    width: 78px;
}

.calendar__payment_classification {
    font-variant: small-caps;
    color: gray;
    font-size: smaller;
}

.calendar__payment_classification__combos {
}

.calendar__payment_classification__buttons {
    text-align: center;
}

#table__calendar button {
    white-space: nowrap;
}

.calendar_search {
    padding: 10px 0;
}

.calendar_search #txt__calendar_search {
    width: 100%;
}

.calendar__curr_balance {
    font-style: italic;
    color: darkgray;
}
.button-update-account-save
{
    margin-left: 10px;
}

/****** Bank Accounts ******/

#href__add_account {
    margin-top: 10px;
}
#form__bank_account_update .bank_account_balance {
    width: 100px;
}
#table__accounts tbody tr:first-child td
{
    border-top: none;
}
#table__accounts td {
    border-top: 1px solid #ddd;
}

.div__edit_bank_account_type_buttons {
    margin-left: 10px;
    text-align: right;
}

span.grippy {
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}
span.grippy::after {
  content: '.. .. .. ..';
}
.account__min_balance_date {
    font-style: italic;
    color: darkgray;
    text-align: right;
}

/****** Manage Categories ******/

#table__manage_categories select {
    width: 80%;
}
#tr__manage_categories_lists div {
    overflow-y: scroll;
    height: 180px;
    width: 100%;
}
.tr__manage_categories_list_labels div {
    width: 100%;
    vertical-align: middle;
}
.tr__manage_categories_list_labels_label {
    position: relative;
    float: left;
    padding-top: 4px;
}
.tr__manage_categories_list_labels_button {
    position: relative;
    float: right;
}
#id__manage_categories_payment_types,
#id__manage_categories_categories,
#id__manage_categories_subcategories {
    width: 100%;
    border-collapse: collapse;
}
#id__manage_categories_payment_types tr,
#id__manage_categories_categories tr,
#id__manage_categories_subcategories tr {
    border-top: 1px solid #ddd;
}
#id__manage_categories_payment_types tr td,
#id__manage_categories_categories tr td,
#id__manage_categories_subcategories tr td {
    background: white;
    padding: 4px !important;
}
#id__manage_categories_payment_types .selected,
#id__manage_categories_categories .selected,
#id__manage_categories_subcategories .selected {
    background-color: #3C7492;
    color: white;
}
#id__manage_categories_payment_types tr:hover td,
#id__manage_categories_payment_types .highlighted,
#id__manage_categories_categories tr:hover td,
#id__manage_categories_categories .highlighted,
#id__manage_categories_subcategories tr:hover td,
#id__manage_categories_subcategories .highlighted {
    background-color: #ccc;
    cursor: pointer;
}
.tr__category_update input {
    width: 65%;
}
#id__manage_categories_payment_types button,
#id__manage_categories_categories button,
#id__manage_categories_subcategories button {
    visibility: hidden;
}
#id__manage_categories_payment_types tr:hover button,
#id__manage_categories_categories tr:hover button,
#id__manage_categories_subcategories tr:hover button {
    visibility: visible;
}
.td__manage_categories_payment_types_action,
.td__manage_categories_categories_action,
.td__manage_categories_subcategories_action {
    text-align: right;
}
/****** Dividers ******/
